<app-nav-bar></app-nav-bar>
<div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
  <app-header-stats></app-header-stats>
</div>
<section id="education" class="blog text-gray-700 body-font">

  <div class="max-w-7xl mx-auto pt-12 px-4 sm:pt-12 sm:px-6 lg:px-8">

    <div class="flex flex-wrap">

      <div class="p-4 md:w-1/2 md:mb-0 mb-6 flex flex-col justify-center items-center max-w-sm mx-auto">
        <div class=" h-56 w-full rounded-lg shadow-md bg-cover bg-center card icon-colis"></div>

        <div class=" w-70 bg-white -mt-10 shadow-lg rounded-lg overflow-hidden p-5">

          <div class="header-content inline-flex ">
            <div class="category-badge flex-1  h-4 w-4 m rounded-full m-1 bg-yellow-100">
              <div class="h-2 w-2 rounded-full m-1 bg-yellow-500" ></div>
            </div>
            <div class="category-title flex-1 text-sm"> Nouméa</div>
          </div>
          <div class="title-post font-medium">Licence Informatique</div>

          <div class="summary-post text-base text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis veritatis vel suscipit ex dolore possimus iure.
            <button class="bg-blue-100 text-blue-500 px-2 mt-4 block rounded p-2 text-sm"><span class="">Lire plus</span></button>
          </div>

        </div>
      </div>

      <div class="p-4 md:w-1/2 md:mb-0 mb-6 flex flex-col justify-center items-center max-w-sm mx-auto">
        <div class="bg-green-100 h-56 w-full rounded-lg shadow-md bg-cover bg-center"></div>

        <div class=" w-70 bg-white -mt-10 shadow-lg rounded-lg overflow-hidden p-5">

          <div class="header-content inline-flex ">
            <div class="category-badge flex-1  h-4 w-4 m rounded-full m-1 bg-green-100">
              <div class="h-2 w-2 rounded-full m-1 bg-green-500"></div>
            </div>
            <div class="category-title flex-1 text-sm"> Grenoble</div>
          </div>

        </div>
      </div>

      <div class="p-4 md:w-1/2 md:mb-0 mb-6 flex flex-col justify-center items-center max-w-sm mx-auto">
        <div class=" h-56 w-full rounded-lg shadow-md bg-cover bg-center card-molotov">
          <div class="dot">

          </div>
          <div class="link">Link</div>
        </div>
      </div>

      <div class="p-4 md:w-1/2 md:mb-0 mb-6 flex flex-col justify-center items-center max-w-sm mx-auto">
        <div class=" h-56 w-full rounded-lg shadow-md bg-cover bg-center card-molotov">
          <div class="dot">

          </div>
          <div class="link">Link</div>
        </div>
      </div>

      <div class="p-4 md:w-1/2 md:mb-0 mb-6 flex flex-col justify-center items-center max-w-sm mx-auto">
        <div class=" h-56 w-full rounded-lg shadow-md bg-cover bg-center card-molotov">
          <div class="dot">

          </div>
          <div class="link">Link</div>
        </div>
      </div>

      <div class="p-4 md:w-1/2 md:mb-0 mb-6 flex flex-col justify-center items-center max-w-sm mx-auto">
        <div class=" h-56 w-full rounded-lg shadow-md bg-cover bg-center card-molotov">
          <div class="dot">

          </div>
          <div class="link">Link</div>
        </div>
      </div>

    </div>
  </div>

</section>
<app-footer></app-footer>
